## Boolean Variables

Boolean Variables are the two constant objects False and True.

They are used to represent truth values(often values can also be considered true or false).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1 respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value. 

They are written as False and True, respectively.

In [1]:
bool()

False

In [2]:
True

True

In [3]:
False

False

In [4]:
type(True)

bool

In [5]:
print(True, False)

True False

In [6]:
my_str = "Aarav Bairagi"
print(my_str)

Aarav Bairagi

In [7]:
print(my_str.isalnum())  #Return True if the string is an alpha-numeric string, False otherwise.

False

In [8]:
new_str = "Aarav123"
print(new_str.isalnum()) #Return True if the string is an alpha-numeric string, False otherwise.

True

In [9]:
print(my_str.istitle())  #Return True if the string is a title-cased string, False otherwise.

True

In [10]:
print(my_str.isalpha()) #Return True if the string is an alphabetic string, False otherwise.

False

In [11]:
print(new_str.isdigit())   #Return True if the string is a digit string, False otherwise.

False

In [12]:
print(my_str.isupper()) #Return True if the string is an uppercase string, False otherwise.

False

In [13]:
print(my_str.islower()) #Return True if the string is a lowercase string, False otherwise.

False

In [14]:
str3 = "   aarav bairagi   "
print(str3.islower()) #Return True if the string is a lowercase string, False otherwise.

True

In [15]:
str4 = "   "
print(str4.isspace())   #Return True if the string is a whitespace string, False otherwise.

True

In [16]:
print(my_str.endswith('i'))  #Return True if S ends with the specified suffix, False otherwise.

True

In [17]:
print(my_str.startswith('A')) #Return True if S starts with the specified prefix, False otherwise.

True

### Boolean dnd Logical Operators

In [18]:
True and True

True

In [19]:
True and False

False

In [20]:
False and True

False

In [21]:
False and False

False

In [22]:
True or True

True

In [23]:
True or False

True

In [24]:
False or True

True

In [25]:
False or False

False

In [26]:
print(my_str)
print(str3)

Aarav Bairagi
   aarav bairagi

In [27]:
my_str.isalpha() or str3.islower()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets[ ].

In [28]:
list1 = []

In [29]:
type(list1)

list

In [30]:
list2 = list1

In [31]:
type(list2)

list

In [32]:
list1 = ['Aarav', 'Anunay', 100, 200, 300 ]

In [33]:
list1

['Aarav', 'Anunay', 100, 200, 300]

In [34]:
list2 = list1
print(list2)

['Aarav', 'Anunay', 100, 200, 300]

###### Append

In [35]:
list1.append("Jamila")

In [36]:
list1

['Aarav', 'Anunay', 100, 200, 300, 'Jamila']

In [37]:
list1[5]

'Jamila'

In [38]:
list1[:3]

['Aarav', 'Anunay', 100]

In [39]:
list1[2: ]

[100, 200, 300, 'Jamila']

In [40]:
list1[::-1]  #reversing the list

['Jamila', 300, 200, 100, 'Anunay', 'Aarav']

In [41]:
list1[2:6]

[100, 200, 300, 'Jamila']

In [42]:
list1.append(["John", "Abrahim", 500, 400])

In [43]:
list1  #when you append a list, a sublist is created inside the main list

['Aarav', 'Anunay', 100, 200, 300, 'Jamila', ['John', 'Abrahim', 500, 400]]

###### Insert

In [44]:
# Insert in a specific order

list1.insert(2, "Alina")
list1

['Aarav',
 'Anunay',
 'Alina',
 100,
 200,
 300,
 'Jamila',
 ['John', 'Abrahim', 500, 400]]

###### Extend

In [45]:
list1.extend([45,68,56,"Armaan"])   #Extend list by appending elements from the iterable.
list1
#this time, this list is not added as a sublist in the main list

['Aarav',
 'Anunay',
 'Alina',
 100,
 200,
 300,
 'Jamila',
 ['John', 'Abrahim', 500, 400],
 45,
 68,
 56,
 'Armaan']

###### Various operations that we can perform on list

In [46]:
list2 = [1,2,3,4,5]

In [47]:
sum(list2)

15

##### Pop() method

In [48]:
list2.pop()   #Remove and return item at index (default last).

5

In [49]:
list2.pop(0)   #Remove and return item at index (default last).

1

In [50]:
list2  #the last and first elements are removed in the previous two operations

[2, 3, 4]

###### count(): Calculates total occurence of given element of List

In [51]:
list3 = [1,3,1,2,4,5,6,4,4,2,6,2,1,1,3]
list3.count(1)

4

In [52]:
#length: Calculates total length of list
len(list3)

15

In [53]:
#index(): Return first index of value.
list3.index(4)

4

In [54]:
list3.index(1,1,8) # 1 is the starting index and 8 is the ending index of the search area
# Hence, the first occurence of element 1 in the search area is found to be at index 2

2

In [55]:
# Min(): Return the minimun value in the  
min(list3)

1

In [56]:
#Max
max(list3)

6

###### Special operations on list

In [57]:
list4 = [1,2,3]

In [58]:
list4 * 2  # all the elements of the list gets appended twice

[1, 2, 3, 1, 2, 3]

In [59]:
list4 * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

## SETS

A set is an unordered collection data types that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on a data structure known as a hash table.

In [60]:
## Defining an empty set

set_var1 = set()
print(set_var1)
print(type(set_var1))

set()
<class 'set'>

In [61]:
set_var1 = {1,2,3,4,3,4,5}
set_var1

{1, 2, 3, 4, 5}

In [62]:
set_var2 = {"Lexus", "Lambo", "Audi"}
print(set_var2)
type(set_var2)

{'Audi', 'Lambo', 'Lexus'}

set

In [63]:
## Inbuilt Function in sets

set_var2.add("Rolls Royce")
print(set_var2)

set_var3 = set_var2
set_var3.add("Aston Martin")
print(set_var3)

{'Audi', 'Lambo', 'Rolls Royce', 'Lexus'}
{'Lexus', 'Rolls Royce', 'Aston Martin', 'Lambo', 'Audi'}

In [64]:
set_var3.add("Mustang")
print(set_var3)

{'Lexus', 'Rolls Royce', 'Aston Martin', 'Mustang', 'Lambo', 'Audi'}

In [65]:
#Intersection
#intersection(): Return the intersection of two sets as a new set.
set_var2.intersection(set_var3)

{'Aston Martin', 'Audi', 'Lambo', 'Lexus', 'Mustang', 'Rolls Royce'}

In [66]:
#intersection_update: Update a set with the intersection of itself and another.
set_var2.intersection_update(set_var3)

In [67]:
# Difference:
#difference(): Return the difference of two or more sets as a new set.
set_var3.difference(set_var2)

set()

In [68]:
#difference_update: Remove all elements of another set from this set.
set_var3.difference_update(set_var2)
print(set_var2)
print(set_var3)

set()
set()

## DICTIONARY

A dictionary is a collection which is unordered, changeable and indexed. In Python, dictionaries are written with surly brackets, and they have keys and values.

In [69]:
dic = {}
type(dic)

dict

In [70]:
dic = {1,2,3,4,5}
type(dic)   # so the name can be anything, but it's basically a set, becaue there are just some values encloed in curly brackets .

set

In [71]:
## Lets create a dictionary

my_dict = {"Car1": "Audi", "Car2": "Lambo", "Car3": "Mustang"}
type(my_dict)

dict

In [72]:
print(my_dict)

{'Car1': 'Audi', 'Car2': 'Lambo', 'Car3': 'Mustang'}

In [73]:
# Access the item value based on keys

my_dict['Car1']

'Audi'

In [74]:
# We can even loop throughout the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [75]:
# We can even loop throughout the dictionaries values

for x in my_dict.values():
    print(x)

Audi
Lambo
Mustang

In [76]:
# We can also check both keys and values

for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'Lambo')
('Car3', 'Mustang')

In [77]:
# Adding items in Dictionary

my_dict['Car4'] = 'Mercedes Benz'
print(my_dict)

{'Car1': 'Audi', 'Car2': 'Lambo', 'Car3': 'Mustang', 'Car4': 'Mercedes Benz'}

In [78]:
# Replacing the value for a key 

my_dict['Car1'] = 'Ferrari'

In [79]:
my_dict   # previous key value got overridden

{'Car1': 'Ferrari',
 'Car2': 'Lambo',
 'Car3': 'Mustang',
 'Car4': 'Mercedes Benz'}

### Nested Dictionary

In [80]:
car1_model = {'Ferrari':1960}
car2_model = {'Lambo':1990}
car3_model = {'Mustang':1995}
car4_model = {'Mercedes':1980}

car_type = {'car1':car1_model, 'car2':car2_model, 'car3': car3_model, 'car4': car4_model}

In [81]:
print(car_type)

{'car1': {'Ferrari': 1960}, 'car2': {'Lambo': 1990}, 'car3': {'Mustang': 1995}, 'car4': {'Mercedes': 1980}}

In [82]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Ferrari': 1960}

In [83]:
print(car_type['car1']['Ferrari'])

1960

## TUPLES

Tuple is not mutable i.e., once you have actually defined a tuple, you cannot change the elements of a tuple.
use () to define a tuple

In [84]:
my_tuple = tuple()

In [85]:
type(my_tuple)

tuple

In [86]:
my_tuple = ("Aarav", "Armaan", "Alina")

In [87]:
my_tuple[0]

'Aarav'

my_tuple[0] = "Sushmita"   

This will throw an ERROR stating that tuple does not support item assignment.

###### In tuple, you can completely replace the entire tuple, but not any single element.

In [89]:
my_tuple = ('Hello', 'World') # entire tuple gets replaced

In [90]:
my_tuple

('Hello', 'World')

Usually, tuples will be used in such applications where the definition of an item is required just for one time. You can't apply any operations on it, you can just replace the entire tuple.

In [91]:
#Inbuilt Functions in Tuple
#1. tuplename.count('itemname'): Return number of occurrences of value.

my_tuple.count('Armaan')

#output is 0 because the tuple was replaced in the previous operation.

0

In [92]:
my_tuple.count('Hello')  #Return number of occurrences of value.

1

In [94]:
#2. tuplename.index('itemname'): Return first index of value.

my_tuple.index('World')

1